[Unit]
Description=MediaMTX media server
Documentation=https://mediamtx.org/
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=mediamtx
Group=mediamtx

WorkingDirectory=/var/lib/mediamtx
StateDirectory=mediamtx
ExecStart=/usr/local/bin/mediamtx /etc/mediamtx/mediamtx.yml

Restart=always
RestartSec=3s

NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=strict
PrivateDevices=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
ProtectClock=true
RestrictSUIDSGID=true
LockPersonality=true
MemoryDenyWriteExecute=true
CapabilityBoundingSet=
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
SystemCallArchitectures=native

[Install]
WantedBy=multi-user.target
